*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  min-height: 100vh;
  background-color: whitesmoke;
}

h1 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 2rem;
  background-color: lightgrey;
}
.gallery {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 40px;
}

.gallery-item {
  width: 300px;
  height: 300px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.gallery-item:hover {
  transform: scale(1.05);
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);

  display: none;
  justify-content: center;
  align-items: center;
}

#lightbox-image {
  max-width: 90%;
  max-height: 90%;
  border-radius: 8px;
}

#close-btn {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 40px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}
